.navbar-interactive1-wrapper {
  display: contents;
}
 
.navbar-interactive1-container {
  width: 1600px;
  display: flex;
  position: relative;
}
 
.navbar-interactive1-navbar-interactive {
  width: 1110px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-twounits);
  padding-left: 29px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
 
.navbar-interactive1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-interactive1-links1 {
  flex: 1;
  width: 868px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar-interactive1-navlink1 {
  display: flex;
  align-self: center;
  text-align: left;
  justify-content: flex-start;
  text-decoration: none;
}
 
.navbar-interactive1-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navbar-interactive1-text10 {
  margin-left: var(--dl-space-space-twounits);
}
 
.navbar-interactive1-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navbar-interactive1-text11 {
  margin-left: var(--dl-space-space-twounits);
}
 
.navbar-interactive1-text12 {
  margin-left: var(--dl-space-space-twounits);
}
 
.navbar-interactive1-burger-menu {
  display: none;
}
 
.navbar-interactive1-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-interactive1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-interactive1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-interactive1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar-interactive1-logo {
  height: 2rem;
}
 
.navbar-interactive1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-interactive1-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-interactive1-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-interactive1-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.navbar-interactive1-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.navbar-interactive1-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.navbar-interactive1-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.navbar-interactive1-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.navbar-interactive1-buttons {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-interactive1-login {
  margin-right: var(--dl-space-space-twounits);
}
 
.navbar-interactive1-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.navbar-interactive1-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.navbar-interactive1-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.player-stats-fragment13 {
  display: contents;
}
 
.player-stats-text13 {
  display: inline-block;
}
 
.player-stats-fragment11 {
  display: contents;
}
 
.player-stats-text11 {
  display: inline-block;
}
 
.player-stats-fragment21 {
  display: contents;
}
 
.player-stats-text21 {
  display: inline-block;
}
 
.player-stats-fragment18 {
  display: contents;
}
 
.player-stats-text18 {
  display: inline-block;
}
 
.player-stats-fragment17 {
  display: contents;
}
 
.player-stats-text17 {
  display: inline-block;
}
 
.player-stats-fragment19 {
  display: contents;
}
 
.player-stats-text19 {
  display: inline-block;
}
 
.player-stats-fragment22 {
  display: contents;
}
 
.player-stats-text22 {
  display: inline-block;
}
 
.player-stats-fragment15 {
  display: contents;
}
 
.player-stats-text15 {
  display: inline-block;
}
 
.player-stats-fragment14 {
  display: contents;
}
 
.player-stats-text14 {
  display: inline-block;
}
 
.player-stats-fragment12 {
  display: contents;
}
 
.player-stats-text12 {
  display: inline-block;
}
 
.player-stats-fragment16 {
  display: contents;
}
 
.player-stats-text16 {
  display: inline-block;
}
 
.player-stats-fragment20 {
  display: contents;
}
 
.player-stats-text20 {
  display: inline-block;
}
 
.player-stats-fragment10 {
  display: contents;
}
 
.player-stats-text10 {
  display: inline-block;
}
 

 

 
@media(max-width: 1200px) {
  .navbar-interactive1-container {
    margin-left: 0px;
    padding-left: 140px;
  }
  .navbar-interactive1-navbar-interactive {
    width: 1175px;
    align-self: center;
    margin-left: 0px;
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: hidden;
    border-width: 1px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: 0px;
    padding-bottom: 51px;
    justify-content: flex-start;
  }
  .navbar-interactive1-links1 {
    width: 873px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .navbar-interactive1root-class-name {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .navbar-interactive1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive1-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar-interactive1-text13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-interactive1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive1-desktop-menu {
    display: none;
  }
  .navbar-interactive1-burger-menu {
    display: flex;
  }
  .navbar-interactive1-mobile-menu {
    padding: 16px;
  }
}

.footer4-wrapper {
  display: contents;
}
 
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.player-stats-fragment26 {
  display: contents;
}
 
.player-stats-text30 {
  display: inline-block;
}
 
.player-stats-fragment27 {
  display: contents;
}
 
.player-stats-text31 {
  display: inline-block;
}
 
.player-stats-fragment25 {
  display: contents;
}
 
.player-stats-text29 {
  display: inline-block;
}
 
.player-stats-fragment23 {
  display: contents;
}
 
.player-stats-text27 {
  display: inline-block;
}
 
.player-stats-fragment24 {
  display: contents;
}
 
.player-stats-text28 {
  display: inline-block;
}
 

 

 
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
}

.player-stats-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.player-stats-fragment10 {
  display: contents;
}
 
.player-stats-text10 {
  display: inline-block;
}
 
.player-stats-fragment11 {
  display: contents;
}
 
.player-stats-text11 {
  display: inline-block;
}
 
.player-stats-fragment12 {
  display: contents;
}
 
.player-stats-text12 {
  display: inline-block;
}
 
.player-stats-fragment13 {
  display: contents;
}
 
.player-stats-text13 {
  display: inline-block;
}
 
.player-stats-fragment14 {
  display: contents;
}
 
.player-stats-text14 {
  display: inline-block;
}
 
.player-stats-fragment15 {
  display: contents;
}
 
.player-stats-text15 {
  display: inline-block;
}
 
.player-stats-fragment16 {
  display: contents;
}
 
.player-stats-text16 {
  display: inline-block;
}
 
.player-stats-fragment17 {
  display: contents;
}
 
.player-stats-text17 {
  display: inline-block;
}
 
.player-stats-fragment18 {
  display: contents;
}
 
.player-stats-text18 {
  display: inline-block;
}
 
.player-stats-fragment19 {
  display: contents;
}
 
.player-stats-text19 {
  display: inline-block;
}
 
.player-stats-fragment20 {
  display: contents;
}
 
.player-stats-text20 {
  display: inline-block;
}
 
.player-stats-fragment21 {
  display: contents;
}
 
.player-stats-text21 {
  display: inline-block;
}
 
.player-stats-fragment22 {
  display: contents;
}
 
.player-stats-text22 {
  display: inline-block;
}
 
.player-stats-container2 {
  width: 100%;
  height: 633px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.player-stats-container3 {
  flex: 0 0 auto;
  width: 684px;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
 
.player-stats-text23 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Noto Sans";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
 
.player-stats-text24 {
  width: 100%;
  font-family: "Noto Sans";
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
 
.player-stats-container4 {
  width: 591px;
  height: 388px;
}
 
.player-stats-container5 {
  display: contents;
}
 
.player-stats-container6 {
  flex: 0 0 auto;
  width: 693px;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
}
 
.player-stats-text25 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Noto Sans";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
 
.player-stats-text26 {
  width: 100%;
  font-family: "Noto Sans";
  margin-bottom: var(--dl-space-space-twounits);
}
 
.player-stats-container7 {
  width: 645px;
  height: 376px;
}
 
.player-stats-container8 {
  display: contents;
}
 
.player-stats-fragment23 {
  display: contents;
}
 
.player-stats-text27 {
  display: inline-block;
}
 
.player-stats-fragment24 {
  display: contents;
}
 
.player-stats-text28 {
  display: inline-block;
}
 
.player-stats-fragment25 {
  display: contents;
}
 
.player-stats-text29 {
  display: inline-block;
}
 
.player-stats-fragment26 {
  display: contents;
}
 
.player-stats-text30 {
  display: inline-block;
}
 
.player-stats-fragment27 {
  display: contents;
}
 
.player-stats-text31 {
  display: inline-block;
}
